.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.baseline {
  align-items: baseline;
}
.center {
  justify-content: center;
  align-items: center;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}
