.post-card {
  background-color: var(--surface-color);
  width: 100%;
  max-width: 40rem;
  min-height: 10rem;
  padding: 1rem;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px var(--shadow-color);
}

.modal-overlay .post-card {
  background-color: var(--background-color);
  height: fit-content;
}

.post-card p {
  line-height: 1.3;
}

.post-image img {
  object-fit: contain;
}

.post-tags li {
  width: fit-content;
  background-color: var(--shadow-color);
  padding: 0 0.5rem;
  border-radius: var(--border-radius);
}

.post-title {
  font-weight: 500;
  margin: 0;
}

.post-timestamp {
  font-size: var(--font-size-small);
  font-weight: 200;
  color: var(--color-primary);
}

.post-timestamp .separator {
  color: var(--text-color);
  margin: 0 0.5rem;
}

.post-count .count-element {
  gap: 0.3rem;
  margin-top: 1rem;
  color: var(--text-color);
}
.post-count .count-element div {
  aspect-ratio: 1/1;
  width: 1.5rem;
}

.profile-heading {
  padding-bottom: 2rem;
}
.profile-heading h2 {
  margin: 0;
}

.profile-icon {
  height: 100%;
  max-height: 10rem;
  min-height: 3rem;
  aspect-ratio: 1/1;
}
.profile-icon img {
  border-radius: 50%;
  box-shadow: 0 4px 8px var(--shadow-color);
}

.modal-overlay .profile-icon {
  max-height: 5rem;
}
.comment-section .profile-icon,
.new-comment .profile-icon,
.new-post .profile-icon {
  max-height: 3rem;
}

.comment-section {
  margin-top: 1rem;
}
.comment-section .post-card {
  background-color: var(--surface-color);
}
.comment-section h3 {
  margin: 0;
  font-size: var(--font-size-highlight);
}
.comment-section .profile-heading {
  padding-bottom: 1rem;
}

.comment-section .new-comment {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid color-mix(in srgb, var(--color-primary) 30%, transparent);
  border-radius: var(--border-radius);
  background-color: var(--surface-color);
}
.comment-section .new-comment textarea,
.new-post textarea {
  width: 100%;
  min-height: 4rem;
  padding: 0;
  border: none;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.comment-section .new-comment button {
  max-width: 10rem;
  align-self: flex-end;
}

.image-uploader-container h3 {
  margin: 0;
}

@media (max-width: 500px) {
  .post-timestamp {
    flex-direction: column;
  }

  .post-timestamp .separator {
    display: none;
  }
}
