:root {
  --color-primary: #fe42a4;
  --color-secondary: #6f2ed6;

  --background-color: #e1e1e1;
  --text-color: #131313;

  --shadow-color: rgba(0, 0, 0, 0.2);

  --main-font: "Poppins", sans-serif;
  --secondary-font: "Roboto", sans-serif;

  --font-size-small: 0.875rem;
  --font-size-body: clamp(1rem, 0.96rem + 0.2vw, 1.125rem);
  --font-size-h3: clamp(1.5rem, 1.2rem + 1.25vw, 2rem);
  --font-size-h2: clamp(1.875rem, 1.5rem + 1.75vw, 2.5rem);
  --font-size-h1: clamp(2.25rem, 1.5rem + 3vw, 3.5rem);
}

body {
  font-family: var(--secondary-font);
  font-size: var(--font-size-body);
  font-weight: 400;
  line-height: 1.5;

  color: var(--text-color);
  background-color: var(--background-color);
}

h1,
h2,
h3,
a,
button {
  font-family: var(--main-font);
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}
p,
a,
button {
  letter-spacing: 0.03em;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #262626;
    --text-color: #e1e1e1;
    --shadow-color: rgba(0, 0, 0, 0.5);
  }
}
